.inf{
    width: 350px;
    height: 210px;
    float: right;;
    margin: 7px 0px 7px 7px;
}

.pam{
    float: left;
    width: 370px;
    height: 240px;
    margin: 7px 25px 7px 0;
}

p, li{
    font-size: 17.5px;

}