body {
    width: 70%;
    margin: 0 auto;
    background-image: url(/blog/site_pictures/dark_back.png);
    background-size: cover;
    font-family: URW Chancery L, cursive;
    color: white
}

/*Box of header*/
header{
    text-align: center;
    position: static;
    background-color: #A8A4BF;
    border-width: 3.5px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid; 
    border-color: #403C59;
    height: 80px;
}
/*Теxt of header*/
header p{   
    text-align: center;
    font-size: 40px;
    margin-top: 12px;
}


/*Box of navigation bar*/
.navigation_bar{
    position: sticky;
    top: 0;
    list-style-type: none;
    background-color: #A8A4BF;  
    border: solid #403C59 3.5px;
    margin-top: 0;
    margin-bottom: 25px; 
    padding: 0.5px;
    height: 59.5px;
}
/*Postion of blocks with links*/
.navigation_bar li{
    float: left;
}
.navigation_bar li#profil{
    float: right;
}
/*Сhange when you press*/
.navigation_bar li:hover{
    background-color: #253350;
}
/*Blocks of links with text*/
.navigation_bar li a{
    display: block;
    font-size: 21px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 15px;
}
/*Block of link with profil pic*/
.navigation_bar li#profil a{
    display: block;
    font-size: 21px;
    text-decoration: none;
    text-align: center;
    padding: 16px 15px 14px;
    width: 28px;
    height: 29.5px;
}
/*Picture of profil*/
.navigation_bar li#profil a img{
    width: 30px;
    height: 30px;
}


/*Buttons "Dokumenty" and "Ostatní"*/
.doc #documents, .other_inf #other{
    background-color: transparent;
    border: transparent;
    font-family: URW Chancery L, cursive;
    text-align: center;
    font-size: 21px;
    padding: 15px 15px;
    color:white;
}
/*Drop-down array*/
.doc_array, .array{
    display: none;
    position: absolute;
    background-color: #A8A4BF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 
/*Text of array*/
.doc_array a, .array a{
    font-size: 18px !important;
    font-family: URW Chancery L, cursive;
    text-decoration: none;
    display: block;
}
.doc_array a:hover, .array a:hover{
    background-color: #253350;
}
.doc:hover .doc_array, .other_inf:hover .array{
    display: block;
}
.doc:hover #documents, .other_inf:hover #other{
    background-color: #253350;
}


/*Box social networks*/ 
.social_networks{
    position: fixed;
    overflow: hidden;
    list-style-type: none;
    right: 170px;
    top: 0; 
    background-color: transparent;
    margin-top: 1.5px;
}
/*Blocks*/
.social_networks li a{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 0px;
}
/*Pictures*/
.social_networks li a img{
    width: 50px;
    height: 50px;
}


/*Main block*/
.main{
    box-sizing: content-box;
    overflow: hidden;
    border: solid #403C59 3.5px;
    background-color: rgb(168, 164, 191, 0.85);
    padding: 30px 50px;
    border-radius: 15px;
}

/*REG/SIGN_IN navigation block*/
.profil #reg_signin{
    text-align: center;
    overflow: hidden;
    list-style-type: none;
    border-top: solid #403C59 3.5px;
    border-bottom: solid #403C59 3.5px;
    margin-left: auto;
    margin-right: auto;
    width: 270px !important;
    padding-left: 10px;
    padding-right: 10px;
}
.profil #reg_signin li{
    float: left;
}
.profil #reg_signin li:hover{
    background-color: #253350;
}
/*Blocks with links*/
.profil #reg_signin li a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

/*Forms*/
.profil #sign_in_form, #registration_form{
    text-align: left;
    overflow: hidden;
    border: solid #403C59 3.5px;
    width: 270px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
}
/*Size of inputs*/
input{
    width: 200px;
    margin-bottom: 10px;
    background-color: #E4C7CB;
}
#signin_button, #reg_button{
    width: auto !important;
    font-size: 13px;
    text-align: center;
    padding: 2px 5px;
}
img#profil_icon{
    width: 80px;
}
#log_out_button{
    width: auto;
    font-size: 13px;
    padding: 2px 5px;
}