.profil #reg_signin{
    text-align: center;
    overflow: hidden;
    list-style-type: none;
    border-top: solid #403C59 3.5px;
    border-bottom: solid #403C59 3.5px;
    margin-left: auto;
    margin-right: auto;
    width: 270px !important;
}
.profil #reg_signin li{
    float: left;
}
.profil #reg_signin li:hover{
    background-color: #253350;
}
/*Блоки с ссылками*/
.profil #reg_signin li a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

/*Формуляр для заполнения при входе*/
.profil #sign_in_form{
    text-align: left;
    overflow: hidden;
    border: solid #403C59 3.5px;
    width: 270px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
}
/*Размер формы для заполнения*/
input{
    width: 200px;
    margin-bottom: 10px;
    background-color: #E4C7CB;
}
#signin_button {
    width: auto !important;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}